.form {
  width: 100vw;
  height: 100vh;
  position: relative;
  padding: 0 1rem;
}
/* ========== Form IMG ========== */
.form__img {
  display: none;
}
/* ========== Form content ========== */
.form__btn-back {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: var(--color-primary);
  z-index: 10;
}
.form__content {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
.form__logo {
  font-weight: 700;
  font-size: 4rem;
}
.form__phrase {
  font-size: var(--subtitle);
  font-weight: 500;
  margin-bottom: 1rem;
}
.form__container {
  grid-template-columns: repeat(2, minmax(156px, 32px));
  grid-template-rows: repeat(7, 44px);
  justify-content: center;
  gap: 1rem;
}
.form__icon {
  margin: 0 -0.7rem;
}
.form__field {
  position: relative;
  display: flex;
  align-items: center;
  font-size: var(--normal-size);
  text-align: start;
  color: var(--color-gray);
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 0 0 0 2px;
}
.form__field-valid {
  color: var(--color-primary);
}
.form__field:nth-child(3),
.form__field:nth-child(6),
.form__field:nth-child(7),
.form__field:nth-child(8),
.form__field:nth-child(9) {
  grid-column: span 2;
}
.form__label {
  position: absolute;
  left: 1.5rem;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
.form__input {
  background: none !important;
  padding-left: 1rem;
  max-width: 100%;
}
.form__input:focus + .form__label {
  top: -0.5rem;
  left: 0.8rem;
  color: var(--color-primary);
  font-size: var(--small-text);
  background: var(--color-light);
  font-weight: 500;
  border-radius: 10px;
  padding: 0 0.25rem;
}
/* for the label fixed top */
.form__input:not(:placeholder-shown).form__input:not(:focus) + .form__label {
  top: -0.5rem;
  left: 0.8rem;
  color: var(--color-primary);
  font-size: var(--small-text);
  background: var(--color-light);
  font-weight: 500;
  border-radius: 10px;
  padding: 0 0.25rem;
}
.form__field:focus {
  box-shadow: 0 0 0 2px var(--color-primary);
}
.form__checkbox {
  box-shadow: none;
  font-size: var(--small-text);
  align-self: flex-start;
  padding: 0 0;
}
.form__checkbox-input {
  margin-right: 1rem;
}

.form__button {
  box-shadow: var(--shadow-bottom-orange);
  background: var(--main-gradient);
  color: var(--color-light);
  justify-content: center;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.form__button:hover {
  box-shadow: none;
}
.form__login-link {
  color: var(--color-dark);
  font-size: var(--small-text);
  margin-top: 1rem;
  cursor: pointer;  
}
.form__link-span {
  color: var(--color-primary);
  text-decoration: underline;
}
/* valid form */
.form__text-alert {
  position: absolute;
  top: -50%;
  right: -10%;
  background: var(--color-light);
  font-size: var(--small-text);
  padding: .5rem;
  border-radius: 30px;
  box-shadow: 0 14px 3.9rem -13px rgb(17 6 4);
  z-index: -1;
  opacity: 0;
  transition: 0.4s ease-in-out;
}
.form__icon-alert {
  color: var(--color-alert);
  position: absolute;
  right: 0.5rem;
  cursor: pointer;
  background: transparent;
  border-radius: 50px;
  transition: 0.4s ease-in-out;
}
.form__icon-alert:hover {
  box-shadow: 0 8px 0.6rem -6px var(--color-alert);
  transform: translateY(-4px);
}
.form__icon-alert:hover + .form__text-alert {
  z-index: 10;
  opacity: 1;
}
.form__select {
  width: 100%;
  margin-left: 1rem;
  font-size: var(--description);
  border: none;
  outline: none;
}
/* ========== login ========== */
.form__field--login {
  grid-column: span 2;
}
.form__container--register {
  grid-template-columns: repeat(1, minmax(156px, 32px));
  grid-template-rows: repeat(3, 44px);
  justify-content: space-evenly;
}
.form__content--login {	
  justify-content: center;
}
/* ========== Media queries ========== */
/* --- ipads and tablets --- */
@media (min-width: 768px) {
  .form {
    display: flex;
    padding-left: 0;
  }
  /* ========== Image ========== */
  .form__img {
    background: var(--main-gradient);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding-left: 1rem;
  }
  .form__img img {
    width: 70%;
  }
  .form__buttons {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: stretch;
  }
  .form__btn-action {
    padding: 1rem 1.6rem 1rem 1.5rem;
    border-radius: 4px 0 0 4px;
    font-size: var(--description);
    color: var(--color-white);
    position: relative;
    overflow: hidden;
  }
  .form__btn-action::after {
    content: "";
    position: absolute;
    background: var(--color-light-0-7);
    width: 15px;
    height: 100%;
    top: 0;
    left: -25%;
    transition: 1s ease-in-out;
  }
  .form__btn-action:hover::after {
    left: 100%;
  }
  .form__active {
    background: var(--color-light);
    color: var(--color-primary);
    font-weight: 500;
    pointer-events:none;
  }
  /* ========== form ========== */
  .form__content {
    width: 50%;
  }
}
/* ========== Small laptops ========== */
@media screen and (min-width: 1024px) {
  .form__img img {
    width: 75%;
  }
}
