@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&family=Poppins:wght@300;400;500;700&display=swap');

:root {
  /* ========== colors ========== */
  --color-primary: #FF7502;;
  --color-primary-0-5: rgba(255,117,2,.25);
  --color-secondary: #FFC852;
  --color-dark: #110604;
  --color-dark-0-8: rgba(17, 6, 4, 0.08);
  --color-green-dark: #20AB0B;
  --color-light: #FBFBFB;
  --color-light-0-7: rgba(251, 251, 251, 0.8);
  --color-gray: #898995;
  --color-gray-0-2: rgba(137, 137, 149, 0.2);
  --color-white: #fff;

  /* Colors alerts */
  --color-alert: #C01C28;
  --color-success: #32F50F;
  --color-success-0-5: rgba(50, 245, 15, 0.5);

  /* Gradients */
  --main-gradient:  linear-gradient(102.67deg, #FFC852 -8.52%, #FF7502 104.15%);
  --gradient-card-purple: linear-gradient(225deg, #A598FD 0%, #6955F7 100%);
  --gradient-card-pink: linear-gradient(225deg, #F48EA6 0%, #E46281 100%);
  --gradient-card-orange:linear-gradient(225deg, #FA9E9C 0%, #F16865 100%);

  /* ========== Font  ========== */
  /* Font family */
  --typography-font: 'Poppins', sans-serif;
  --typography-logo: 'Philosopher', serif;

  /* Font size */
  --big-title: 36px;
  --small-title: 24px;
  --subtitle: 20px;
  --normal-size: 16px;
  --chat-text: 15px;
  --description: 14px;
  --small-text: 12px;
  --very-small: 6px;
}  
#__lpform_name,#__lpform_password {display: none}
* {
  box-sizing: border-box;
}
html {
  font-family: var(--typography-font);
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
ul {
  padding: 0;
}
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  font-weight: 400;
}
button,input {
  border: none;
  outline: none;
  background: transparent;
}
::-webkit-scrollbar {
  width: 0.6rem;
  background:var(--color-gray-0-2);
  border-radius: .5rem;
}
::-webkit-scrollbar-thumb {
  background: var(--color-gray);
  border-radius: .5rem;
}
::-webkit-scrollbar-thumb:hover {
  transform: scale(.8);
}
.btn {
  font-size: var(--normal-size);
}
.loading-view {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-light);
}
.logo {
  font-family: var(--typography-logo);
}
.logo--gradient {
  background: var(--main-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo--white {
  color: var(--color-white);
}
.hidden {
  display: none !important;
  transition: display .3s ease-in-out;
}