.audit__info {
  cursor: pointer;
transition: color 0.3s ease-in-out;
}
.audit__info:hover {
  color: var(--color-primary);
}
.sale__label-icon {
  right: -.5rem;
  white-space: nowrap;
}
.audit__info:hover .sale__label-icon {
  opacity: 1;
}
.audit__header, audit__items {
  grid-template-columns: repeat(10, 1fr);
  text-align: center;
  justify-content: center;
  align-items: center;
}
/* create */
.audit__items-create, .audit__header-create {
  grid-template-columns: repeat(9, 1fr);
} 
.product__audit {
  grid-column: span 2;
  align-self: start;
}
.audit__img-product {
  border-radius: 0.25rem;
}
.audit__img-profile {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}