.sale {
  margin-bottom: 1rem;
}
.sale__btn {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  color: var(--color-alert);
  font-weight: 500;
}
.sale__btn:hover {
  color: var(--color-primary);
}
/* ========== header of table ========== */
.sale__header, .sale__items {
  font-size: var(--small-text);
  font-weight: 500;
  grid-template-columns: repeat(8, 1fr);
  gap: .25rem;
  grid-auto-flow: column;
  padding: .5rem;
  align-items: center;
  justify-items: center;
}
.sale__total-text {
  grid-column: 1 / span 2;
  white-space: nowrap;
}
/* row of sales */
.sale__item {
  position: relative;
}
.sale__label-icon {
  position: absolute;
  background: var(--color-light);
  border-radius: 4px;
  padding: 0.5rem;
  top: -2.2rem;
  right: -2rem;
  box-shadow: 0px 4px 1.5rem var(--color-dark-0-8);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.sale__status {
  color: var(--color-primary);
}
.sale__status:hover .sale__label-icon {
  opacity: 1;
}
.sale__icon {
 font-size: var(--small-title);
 transition: color 0.3s ease-in-out;
 cursor: pointer;
}
.sale__icon:hover {
  color: var(--color-primary);
}
/* ========== Media queries ========== */
/* tablets ipads */
@media screen and (min-width: 768px) {
  .sale__items {
    gap: 1rem;
  }
}
/* desktop */
@media screen and (min-width: 1024px) {
  .sale__header{
    gap: 0;
  }
}
/* medium desktop */
@media screen and (min-width: 1200px) {
 .sale {
   width: 70vw;
 }
}