body {
  background-color: var(--color-light);
  display: flex;
  gap: 1rem;
}
.grid {
  display: grid;
}
.hidden {
  display: none;
}
/* ========== containers ========== */
.container {
  background: var(--color-white);
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03),
  0px 59.8943px 43.7385px rgba(0, 0, 0, 0.0202191),
  0px 47.6117px 30.6598px rgba(0, 0, 0, 0.0105608),
  0px 39.5186px 22.4335px rgba(0, 0, 0, 0.0031587);
  border-radius: 1rem;
}
.section {
  padding: 1rem;
}
.page {
  width: 100%;
}
.page__title {
  margin-top: 1rem;
  padding: 0 0 1rem 2rem;
  font-weight: 700;
}
.section__header {
  margin-bottom: 1rem;
}
.section__title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.section__title-text {
  font-weight: 500;
  white-space: pre;
}
.section__title-item {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background: var(--color-primary);
  box-shadow: 0 0 0 0.25rem var(--color-primary-0-5);
}
/* ========== navbar ========== */
.header {
  width: 220px;
  max-width: 220px;
  position: fixed;
  transition: width 0.5s ease-in-out;
  z-index: 10;
}
.container.header {
  background: var(--color-light);
}
.nav {
  background: var(--color-light);
  min-width: 80px;
  height: 100vh;
  max-width: 200px;
  padding: 1rem 0;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  align-items: center;
  overflow: hidden;
}
.nav__logo {
  font-weight: 700;
  font-size: 2rem;
}
.nav__profile {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  align-items: center;
}
.nav__img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  transition: width 0.5s ease-in-out;
}
.nav__user {
  font-size: var(--small-title);
  font-weight: 500;
  text-align: center;
  transition: font-size 0.5s ease-in-out;
}
.nav__list {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, minmax(32px, 40px));
  gap: 1rem;
  width: 100%;
  padding-left: 1rem;
}
.nav__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
}
.nav__link {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: var(--color-gray);
  transition: color 0.4s ease-in-out;
}
.nav__link:hover {
  color: var(--color-secondary);
}
.nav__icon {
  font-size: var(--small-title);
}
.nav__item--active {
  background: var(--color-primary-0-5);
  border-radius: 0.5rem 0px 0px 0.5rem;
}
.nav__item--active .nav__link {
  color: var(--color-primary);
}
.nav__toggle {
  position: absolute;
  right: -3.5rem;
  top: 1rem;
  color: var(--color-primary);
  background: var(--color-white);
  padding: 0.25rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 3rem rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: box-shadow 0.4s ease-in-out, display 0.5s ease-in-out;
}
.nav__toggle:hover {
  box-shadow: none;
}
.nav__toggle:active {
  box-shadow: inset 0 2px 1rem rgba(0, 0, 0, 0.08);
}
.btn-icon {
  display: none;
}
/* ---- nav zipped---- */
.nav__menu-active {
  display: block;
}
.nav__zipped {
  width: 80px;
  position: sticky;
  top: 0;
}
.nav__zipped-img {
  width: 60px;
  height: 60px;
}
.nav__zipped-user {
  font-size: var(--description);
}
/* ========== clients item message ========== */
.client__item,
.client__data,
.client__info {
  display: flex;
}
.client__item {
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: background 0.4s ease;
}
.client__item:hover {
  background: var(--color-gray-0-2);
}
.client__img {
  max-width: 2.5rem;
  max-height: 2.5rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  filter: drop-shadow(0px 33px 75px rgba(0, 0, 0, 0.14))
  drop-shadow(0px 10.4553px 16.7522px rgba(0, 0, 0, 0.083455))
  drop-shadow(0px 4.90726px 4.98758px rgba(0, 0, 0, 0.056545));
}
.client__data {
  gap: 0.5rem;
}
.client__info {
  flex-flow: column;
}
.client__name {
  font-size: var(--description);
}
.client__email,
.client__time {
  font-size: var(--small-text);
  color: var(--color-gray);
}
.client__time {
  align-self: end;
}
/* ========== options or tabs ========== */
.options {
  width: 100%;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  background: var(--color-gray-0-2);
  border-radius: 8px 8px 0px 0px;
}
.option {
  font-size: var(--description);
  color: var(--color-gray);
  cursor: pointer;
  transition: color 0.4s ease-in-out;
  white-space: nowrap;
}
.option:hover {
  color: var(--color-primary);
}
.option--active {
  color: var(--color-primary);
  font-weight: 500;
}

/* ========== modal and buttons ========== */
/* modal */
.modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: var(--color-dark-0-8);
  backdrop-filter: blur(12px);
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__content {
  width: 100%;
  height: 100%;
  max-width: 576px;
  max-height: 450px;
  overflow: auto;
  border-radius: 1rem;
  padding: 1rem;
}
.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--normal-size);
  font-weight: 500;
  color: var(--color-gray);
  margin-bottom: 1rem;
}
.modal__close {
  color: var(--color-alert);
  font-size: var(--small-title);
  cursor: pointer;
}
.modal__table {
  grid-template-columns: repeat(6, 1fr);
  font-size: var(--small-text);
  align-items: center;
  justify-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
  padding: 0.5rem;
}
.modal__img {
  max-width: 42px;
  border-radius: 4px;
}
.modal__table-item {
  border-radius: 0.5rem;
  background: var(--color-gray-0-2);
}
.modal__content--confirm {
  width: 320px;
  height: 300px;
}
.modal__title--confirm {
  font-size: var(--normal-size);
  text-align: center;
}
.modal__body--confirm, .modal__footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.modal__img--confirm {
  width: 68px;
  border-radius: .5rem;
}
.modal__footer .btn{
  padding: 1rem;
}
/* buttons */
.btn-icon {
  font-size: var(--big-title);
  /* display: flex; */
}
.btn {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}
.btn:hover {
  transform: translateY(-.35rem);
}
.btn-primary {
  background: var(--color-primary);
  color: var(--color-light);
}
.btn-secondary {
  background: var(--color-secondary);
}
.btn-gradient {
  background: var(--main-gradient);
  color: var(--color-light);
}
.btn-success {
  color: var(--color-success);
  border-radius: 4px;
  border: 1px solid var(--color-success);
}
.btn-alert {
  color: var(--color-alert);
  border-radius: 4px;
  border: 1px solid var(--color-alert);
}
/* tags */
.tag-notify {
  font-size: var(--small-text);
  padding: 0.25rem;
  border-radius: 0.25rem;
}
.tag-notify--primary {
  background: var(--color-primary-0-5);
  color: var(--color-primary);
}
.tag-notify--green {
  background: var(--color-success-0-5);
  color: var(--color-green-dark);
}
/* search input */
.search {
  width: 100%;
  position: relative;
}
.search__input, .search__button {
  width: 70%;
  border: none;
  outline: none;
  font-size: var(--description);
  background: var(--color-light);
  padding: 0.5rem 0 0.5rem 0.5rem;
  border-radius: 4px;
  color: var(--color-primary);
}
::placeholder {
  opacity: 0.8;
  color: var(--color-dark);
}
.search__input:focus {
  box-shadow: 0 0 0 0.1rem var(--color-primary);
}
.search__button {
  width: 25%;
  cursor: pointer;
  background: var(--color-primary-0-5);
  color: var(--color-light);
  transition: box-shadow 0.5s ease-in-out, background 0.5s ease-in-out;
}
.search__input:not(:placeholder-shown) + .search__button {
  background: var(--color-primary);
  box-shadow: 0 12px 20px -0.5rem var(--color-primary);
}
.search__input:not(:placeholder-shown) + .search__button:hover {
  box-shadow: 0 0 0 var(--color-primary);
}
.mobil-hidden {
  display: none;
}
.tablet__hidden {
  display: none;
}
/* ========== Media queries ========== */
@media screen and (min-width: 768px) {
  body {
    gap: 2rem;
  }
  .header {
    position: sticky;
    top: 0;
    max-width: 220px;
  }
  .page {
    padding: 1rem 0;
  }
  /* modal */
  .modal__table {
    font-size: var(--normal-size);
  }
  .mobil-hidden {
    display: initial;
  }

  /* ========== subtitle and search ========== */
  .section__header {
    display: flex;
    gap: 1rem;
  }
}
/* small desktop */
@media screen and (min-width: 1024px) {
  .tablet__hidden {
    display: initial;
  }
}
/* desktop */
@media screen and (min-width: 1200px) {
  .main {
    width: 70vw;
  }

}