/* ========== Hero ========== */
.hero {
  background: var(--main-gradient);
  max-height: 500px;
}
.hero__logo {
  font-size: 7.5rem;
}
.hero__about {
  font-size: var(--small-text);
  color: var(--color-light);
}
.hero__content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.hero__img img:nth-child(2),
.hero__img img:nth-child(3) {
 display: none;
}
.hero__btn {
  padding: 1rem 1.5rem;
  box-shadow: 0 1rem 2.5rem -1.1rem var(--color-dark);
}
.hero__btn:hover { 
  box-shadow: none;
}
/* ========== Offers of products ========== */
.offer {
  padding: 0 0 0 .5rem;
  box-shadow: 0px 8px 32px rgba(17, 6, 4, 0.08);
  max-height: 300px;
}
.offer__content {
  display: flex;
}
.offer__data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: .6rem;
}
.offer__description,
.offer__product {
  margin: .5rem 0;
}
.offer__product {
  font-size: var(--subtitle);
}
.offer__quantity,
.offer__price {
  margin-top: .5rem;
}
.offer__btn,
.offer__description {
  font-size: var(--small-text);
}
.offer__btn {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  box-shadow: var(--shadow-bottom-orange);
 }
 .offer__icon {
  margin-left: .2rem;
  transition: 0.3s ease;
 }
 .offer__btn:hover .offer__icon {
  transform: translateX(.35rem)
 }
 .offer__img {
   position: relative;
   width: 100%;
 }
 .offer__img img {
   width: 100%;
   height: 100%;
   background: center/cover;
 }
.offer__tag {
  top: .5rem;
  right: .5rem;
  position: absolute;
  padding: .5rem;
  border-radius: 4px;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  background: var(--color-primary);
}
 /* ========== Our services ========== */
 .service {
  margin-top: 1rem;
  text-align: center;
 }
 .service__content {
   margin-top: 1.5rem;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   flex-flow: wrap;
   gap: 3rem;
 }
 .service__item {
   margin-top: 2rem;
 }
 .service__name {
  margin-top: 1rem;
  font-size: var(--subtitle);
  font-weight: 500;
 }
 .service__delivery {transform: translateX(2rem)}
 .service__chat {transform: translateX(1rem)}
/* ========== Cards accepted ========== */
.cards__content {
  margin-top: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
}
.cards__svg {
  text-align: center;
  transition: .4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.cards__svg:hover {
  transform: translateY(-.5rem);
}
/* ========== Btn register ========== */
.register-btn {
  margin: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s ease-in-out;
}
.register-btn .btn {
 padding: 1.5rem 3rem; 
 margin-bottom: 60px;
 box-shadow: var(--shadow-bottom-orange);
}
.register-btn:hover .btn {
  box-shadow: none;
}
/* ========== Media query ========== */
@media screen and (min-width: 768px) {
  /* --- hero --- */
  .hero {
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
  }
  .hero__info {
    max-width: 50%;
    padding-right: 2rem;
  }
  .hero__about {
    font-size: var(--description);
    line-height: 1.5rem;
    margin: 2rem 0;
  }
  .hero__img { 
    position: relative;
  }
  .hero__img img:nth-child(1) {
    display: none;
  }
  .hero__img img:nth-child(2),
  .hero__img img:nth-child(3) {
    display: initial;
    position: relative;
  }
  .hero__img img:nth-child(3) {
    position: absolute;
    transform: translateX(2rem);
  }
  .hero__btn {position: relative;}
  /* --- offers --- */
  .offer__content {
    max-width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  /* --- offers --- */
  .offer__content{
    max-width: 30%;
  }
  .offer__data {
    padding-top: 1rem;
  }
  .offer__product {
    font-size: var(--small-title);
  }
  .offer__description {
    font-size: var(--description);
  }
  .offer__quantity,
  .offer__price,
  .offer__btn {
    font-size: var(--normal-size);
  }
  .offer__btn {
    padding: 1rem 1.5rem;
  }
}
@media screen and (min-width: 1440px) {
  /* --- hero --- */
  .hero__about {
    font-size: var(--normal-size);
    line-height: 1.5rem;
    margin: 4rem 2rem 4rem 0;
  }
}