body {
  overflow:hidden
}
.detail {
  width: 100vw;
  height: calc(100vh + 100px);
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}
.detail__box {
  width: 100%;
  display: flex;
  justify-content: center;
}
.detail__data {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}
.detail__name {
  font-size: var(--subtitle);
  font-weight: 500;
}
.detail__description {
  font-size: var(--small-text);
}
.detail__quantity {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.detail__price {
  font-size: var(--small-title);
}
.detail__quantity-btn {
  font-size: var(--big-title);
  color: var(--color-primary);
  cursor: pointer;
  transition: transform .4s ease-in-out;
}
.detail__quantity-btn:hover {
  transform: translateY(-2px);
}
.detail__quantity-text {
  font-size: var(--small-title);
}
.detail__btn {
  align-self: start;
  padding: .75rem 1.5rem;
  box-shadow: var(--shadow-bottom-orange);
}
.detail__products {
  width: 100%;
  height: 130px;
  max-height: 150px;
  border-radius: .5rem;
}
.detail__product {
  max-width: 170px;
  position: relative;
  box-shadow: 0 4px 3rem 0 rgba(6, 1, 31, 0.16);
  transition: transform .4s ease-in-out;
  color: var(--color-dark);
}
.detail__product:hover {
  transform: translateY(-4px);
}
.detail__product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.detail__product-data {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--color-light);
  padding: .5rem;
  font-size: var(--small-text);
  display: flex;
  justify-content: space-evenly;
}
@media screen and (min-width: 768px) {
  .detail {
    margin-top: 60px;
    flex-flow: row;
    height: calc(100vh - 60px);
    padding-right: 0;
  }
  .detail__box {
    order: 1;
    max-width: 50%;
    align-items: center;
    justify-content:center;
  }
  .detail__img {
    object-fit: cover;
    transition: transform .4s ease-in-out;
    width: 5  0%;
  }
  .detail__data {
    max-width: 50%;
    flex-flow: column nowrap;
    justify-content: space-around;
  }
  .detail__name {
    font-size: var(--small-title);
  }
  .detail__description {
    font-size: var(--normal-size);
  }
  .detail__product-data {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .detail__img:hover {
    transform: translateY(-5px);  
  }
  .detail__data {
    max-width: 40%;
  }
  .detail__product {
    max-width: 200px;
  }
}