body {
  overflow:hidden;
  background: linear-gradient(120deg,
  var(--color-light),
  var(--color-light) 60%,
  var(--color-primary) 60%,
  var(--color-primary) 100%);
}
.detail {
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  margin-bottom: 1rem;
}
.detail__box {
  width: 100%;
  display: flex;
  justify-content: center;
}
.detail__data {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}
.detail__name {
  font-size: var(--subtitle);
  font-weight: 500;
}
.detail__description {
  font-size: var(--small-text);
}
.detail__quantity {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.detail__price {
  font-size: var(--small-title);
}
.detail__quantity-btn {
  font-size: var(--big-title);
  color: var(--color-primary);
  cursor: pointer;
  transition: transform .4s ease-in-out;
}
.detail__quantity-btn:hover {
  transform: translateY(-2px);
}
.detail__quantity-text {
  font-size: var(--small-title);
}
.detail__btn {
  align-self: start;
  padding: .75rem 1.5rem;
  box-shadow: var(--shadow-bottom-orange);
}
.detail__products {
  width: 100%;
  height: 220px;
  background: var(--color-light-0-7);
}
.swiper-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.detail__product, .detail__product-data {
  border-radius: .35rem;
}
.detail__product {
  height: 200px;
  max-width: 170px;
  position: relative;
  box-shadow: 0 4px 3rem 0 rgba(6, 1, 31, 0.16);
  transition: transform .4s ease-in-out;
  color: var(--color-dark);
}
.detail__product:hover {
  transform: translateY(-4px);
}
.detail__product-img {
  padding: 1rem;
  width: 100%;
  height: 85%;
  object-fit: cover;
}
.detail__product-data {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: var(--color-light);
  padding: .5rem;
  font-weight: 500;
  font-size: var(--description);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .detail {
    margin-top: 5rem;
    flex-flow: row;
    padding-right: 0;
  }
  .detail__box, .detail__data {
    gap: 2rem
  }
  .detail__box {
    order: 1;
    max-width: 50%;
    align-items: center;
    justify-content:center;
  }
  .detail__img {
    object-fit: cover;
    transition: transform .4s ease-in-out;
    width: 50%;
  }
  .detail__data {
    max-width: 50%;
    flex-flow: column nowrap;
    justify-content: space-around;
  }
  .detail__name {
    font-size: var(--small-title);
  }
  .detail__description {
    font-size: var(--normal-size);
  }
  .detail__product-data {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .detail {
    margin-bottom: 2rem;
  }
  /* .detail__box, .detail__data {
    gap: 3rem
  } */
  .detail__products {
    height: 240px;
  }
  .detail__img:hover {
    transform: translateY(-5px);
  }
  .detail__data {
    max-width: 40%;
  }
  .detail__product {
    height: 200px;
    width: 190px;
  }
}