body {overflow:hidden}
.form__content{
  width: 100%;
}
.cart {
  margin: 76px 0 80px 0;
}
.cart__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  font-size: var(--description);
  margin: 0 0 1.5rem;
}
.cart__title-text {
  color: var(--color-gray);
}
.cart__shadow {
  background: var(--color-white);
  box-shadow: 4px 4px 16px rgba(17, 6, 4, 0.06);
  border-radius: 8px;
}
.cart__total {
  background: var(--color-primary);
  color: var(--color-white);
  padding:  .75rem .5rem;
  border-radius: 8px;
}
.cart__content {
  padding: 0.5rem;
  display: flex;
  flex-flow: column;
}
.cart__header, .cart__product {
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  padding: 0;
  align-items: center;
  text-align: center;
  font-size: var(--small-text);
}
.cart__header-text:first-child {
  grid-column: span 2;
}
.cart__img {
  width: 100%;
  height: 100%;
}
.cart__quantity {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cart__quantity-btn {
  display: none;
}
.cart__product-item .btn-icon {
  font-size: var(--small-title);
  color: var(--color-alert)
}
.cart__btn-mbl {
  position: relative;
  padding: 1rem;
  top: 2rem;
  align-self: center;
  box-shadow: var(--shadow-bottom-orange)
}
/* ========== form pay ========== */
.form__btn-back {
  color: var(--color-alert);
}
.pay {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  top: -120%;
  left: 0;
  background: var(--color-white);
  width: 100%;
  height: 100%;
  text-align: center;
  transition: top .5s ease-in-out;
  overflow: auto;
}
.pay--active {
  top: 0;
}
.pay__icon--active {
  fill: var(--color-primary);
}
.pay__delivery {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* ========== checkbox method delivery ========== */
.pay__delivery-btn {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 24px;
  border-radius: 18px;
  background: var(--color-secondary);
  outline: none;
  transition: .3s;
  position: relative;
  cursor: pointer;
}
.pay__delivery-btn::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  background: var(--color-light);
  top: 3px;
  left: 3px;
  border-radius: 50%;  
  transition: .3s ease;
}
.pay__delivery-btn:checked::before {
  transform: translateX(15px);
}
/* ========== types of cards ========== */
.pay__cards {
  margin: 1rem 0;
  position: relative;
  display: flex;
  justify-content: center;
}
.pay__card-img {
  position: absolute;
  top: 2rem;
}
.pay__card-icons {
  display: flex;
  padding: 0;
  width: 100%;
  justify-content: space-between;
}
.pay__card-icon {
  transition: transform .5s ease-in-out;
  cursor: pointer;
}
.pay__card-icon:hover {
  transform: translateY(-.75rem);
}
/* ========== Forms pay ========== */
.form__content {
  max-width: 100%;
}
.form__container-card,.form__container-delivery {
  grid-template-columns: repeat(3, minmax(75px, 320px));
  grid-template-rows: repeat(3, 44px);
  text-align: start;
}
.pay__number-card, .pay__card-name {
  grid-column: span 3;
}
.pay__card-date {
  grid-column: span 2;
}
.form__container-card .pay__card-cvv {
  grid-column: span 1;
}
/* ========== Button alternate when is person ========== */
.shopp__btn-alternate {
  margin-top: 1.5rem;
}
/* ========== Form delivery ========== */
.form__text-alert {
  right: 0;
}
.form__delivery {
  margin-top: 1rem;
} 
.form__container-delivery {
  margin-bottom: 80px;
  grid-template-rows: repeat(4, 44px);
}
.form__container-delivery .form__field {
  grid-column: span 3;
}
.form__disabled {
  opacity: 0.5;
  pointer-events: none;
}
/* ========== Media queries ========== */
/* for tablets and ipads */
@media (min-width: 768px) {
  .form__phrase {
    white-space: pre;
    text-align:start;
  }
  .form__btn-back {
    display: none;
  }
  .shopp__cart {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
  }
  .cart {
    margin: 70px 0 0 0;
    max-width: 60%;
  }
  .cart__quantity-btn {
    display: inline;
    font-size: var(--normal-size);
    color: var(--color-primary);
    cursor: pointer;
  }
  .cart__header, .cart__product {
    font-size: var(--description);
  }
  .cart__btn-mbl {
    display: none;
  }
  .cart__img {
    max-width: 60px;
  }
  .pay {
    position: relative;
    top: 4rem;
    width: 40%;
  }
  .pay__card-img {
    top: 0;
  }
  .form__container-card, .form__container-delivery {
    justify-content: start;
  }
} 
@media screen and (min-width: 1024px) {
  .cart__header, .cart__product {
    font-size: var(--normal-size);
  }
  .cart, .pay {
    padding: 1rem;
  }
  .cart__quantity-btn {
    font-size: var(--small-title);
  }
  .pay {
    width: 40%;
    padding-left: 10%;
  } 
  .pay__cards {
    margin-bottom: 2rem;
  }
  .pay__card-img {
    top: -1rem;
  }
  .pay__card-icons {
   position: absolute; 
   background: var(--color-white);
   box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.08), 0px 41.7776px 47.9135px rgba(0, 0, 0, 0.0586128), 0px 22.3363px 37.5333px rgba(0, 0, 0, 0.0499972), 0px 12.5216px 30.7758px rgba(0, 0, 0, 0.0432874), 0px 6.6501px 23.976px rgba(0, 0, 0, 0.0361715), 0px 2.76726px 14.7208px rgba(0, 0, 0, 0.0261281);
    border-radius: 20px 0px 0px 20px;
    padding: 1rem;    
    left: -5.5rem;
    top: -2rem;
    flex-flow: column;
    gap: .75rem;
    align-items: center;
    width: auto;
  }

}